*/.settings
.settings/
*/.classpath
.classpath
*/.project
.project

/target
*/*/target
*/*/*/target
*/*/*/*/target
*/*/*/*/*/target

.metadata
*/*/.gitignore
*/*/*/*/.gitignore


.brackets.json
/.idea